$header-height: 50px;
$base-color: #555;
$border: 1px solid #e5e5e5;

@mixin text-rendering($style) {
    -moz-text-rendering: $style;
    -ms-text-rendering: $style;
    -o-text-rendering: $style;
    text-rendering: $style;
}

@mixin button($height, $bg-color, $color, $radius) {
    line-height: $height;
    height: $height;
    background: $bg-color;
    border-radius: $radius;
    color: $color;
}
