.editor {
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 20%;
    position: fixed;
    border-left: $border;
    border-right: $border;
    .CodeMirror {
        height: 100% !important;
    }
}
