.sidebar {
    width: 20%;
    height: 100%;
    background: #F7F7F7;
    float: left;
    display: block;
    position: fixed;
    border-right: $border;
    h5, .file-name {
        padding-left: 10px;
        border-bottom: 1px solid rgba(200,200,200,0.2);
        line-height: 30px;
        margin: 0;
    }
    .file-name {
        background-color: #FAFAFA;
        cursor: pointer;
    }
}
