$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "./sidebar";
@import "./preview";

head,
body {
    margin: 0;
    padding: 0;
}

header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

main {
    padding-top: 80px;
    color: #555;
}
