@import "base";
@import "header";
@import "sidebar";
@import "preview";
@import "editor";

head,
body {
    margin: 0;
    padding: 0;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $base-color;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

main {
    padding-top: $header-height;
}
